{% extends 'base.html' %}
<!-- Page Title-->
{% block title %}Register{% endblock %}

<!-- Page Content -->
{% block body %}

  <div class="main">
    <div class="card-header">Users</div>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Last Login</th>
                </tr>
            </thead>
            <tbody>
                {% for item in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone_number }}</td>
                    <td>{{ item.last_login }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      <small class="text-muted" style="display: flex; justify-content: flex-end"><a href="{% url 'logout' %}">logout</a> 
      </small>
    </div>
  </div>

{% endblock %}